body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/background.png);
    background-size: cover;
}
.container{
    width: 1060px;
    margin: 0 auto;
}

.top-part {
    margin: 50px 0;
}

.logo{
    text-decoration: none;
    float: left;
    width: 160px;
}
.logo:hover .logo-img-hover{
    z-index: 0;
    opacity: 1;
}
.logo:hover .header-text{
    color: #f26522;
}
.logo-full{
    float: left;
    position: relative;
}
.logo-img {
    float: left;
    margin-right: 15px;
    
}
.logo-img-hover{
    position: absolute;
    left:0;
    z-index: -1;
    opacity: 0;
}
.header-text {
    font-family: Verdana;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.text-small {
    font-size: 16px;
    float: left;
    margin-top: 6px;
}

.contacts {
    float: right;
}

.contacts-item{
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}

.tour-item {
    float: left;
    position: relative;
    margin-right: 69px;
}
.image-content{
    width: 307px;
    background: linear-gradient(to top #000, #fff);
    box-sizing: border-box;
    box-shadow: 0 17px 24px 0 #000000;
    border: 2px solid transparent;
    border-image-source: linear-gradient(white, black);
    border-image-slice: 1;
}
.tour-item:nth-child(-n+3){
    margin-bottom: 58px;
}
.tour-item:nth-child(3n){
    margin-right: 0;
}
.tour-item a{
    text-decoration: none;
}
.tour-item:hover .tour-info{
    z-index: 0;
    opacity: 1;
    transition:0.5s;
}
.tour-item:hover .tour-item-title{
    color: #f2651d;
    transition:0.5s;
}
.tour-item-title{
    font-family: Verdana;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 8px;
}

.tour-info{
    height: 63px;
    background-color: #f26522;
    position: absolute;
    width: 307px;
    top: 138px;
    z-index: -1;
    opacity: 0;
}
.tour-info-wrapper{
    display: inline-block;
    margin-left: 21px;
    margin-top: 5px;
}
.tour-info-atribute{
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
}
.tour-info-price{
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.tour-info-details{
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    
}
.tour-info-details::after{
    content: ">";
    margin-right: 30px;
    margin-right: 18px;
    margin-left: 15px;
}
.link-details{
    float: right;
    margin-top: 26px;
}
.bottom-part{
    color: #fff;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 20px;
}
.footer-text{
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
